{
  "extends": [
    "airbnb-base",
    "prettier",
    "node",
    "plugin:node/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "plugins": ["importAssertions"]
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "parser": "flow"
      }
    ],
    "import/extensions": [
      2,
      {
        "js": "always",
        "json": "always"
      }
    ],
    "import/prefer-default-export": ["off"],
    "no-unused-vars": [1]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "document": false
  }
}
